/* . 代表class, # 代表是id */

body{
    background-color: pink;
    font-family: '標楷體', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.list{
    text-align: left; 
    background-color:navajowhite; 
    color:red; 
    padding: 1px 12px;
    margin: 8px 2px;
    border: 1px black solid;
}

.banner{
    width: 250px;
    display:inline-block;
    color:gold;
    background-color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    /* margin: top right bottom left */
    margin: 8px 16px 8px 16px;
    /* padding: top right bottom left */
    padding: 4px 8px 4px 8px;
}

#title{
    color:indigo;
    background-color:palegoldenrod;
    font-size: 48px;
    font-family: '標楷體', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* margin: top right bottom left */
    margin: 12px 24px 12px 24px;
    /* padding: top right bottom left */
    padding: 6px 10px 6px 10px;
    text-align: center;
}

.slogan{
    background-color: chartreuse;
    font-size: 24px;
}

#bmi-table{
    width:600px;
    height:200px;
    background-color:khaki;
    color:black;
    margin: 0 auto;
}

#bmi-table thead{
    background-color:darkred;
    color:whitesmoke;
}

#bmi-table th{
    font-size: 16px;
    font-weight: lighter;
}

#bmi-table tbody{
    font-size: 12px;
    font-weight: lighter;
    text-align: left;
}